//--------------------
//   PALETA COLORES
//--------------------
$texto: #727272;
$principal: white;
$secundario:#007bff;
$color_form:#49505717;

// BREAKPOINT
$width-small: "screen and (min-width: 576px)";
